<VirtualHost *:80>
  ServerName local.{{ sitename }}
  ServerAdmin webmaster@localhost
  DocumentRoot {{ web_root }}

  <Directory {{ web_root }}>
    AllowOverride All
  </Directory>

  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
